<!--
  Generated template for the CreateExpensePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrar gastos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>amount</ion-label>
    <ion-input type="text" [(ngModel)]="expense.amount"></ion-input>
  </ion-item>



  <ion-item>
    <ion-label>Compañia</ion-label>
    <ion-select [(ngModel)]="expense.companyId">
      <ion-option [value]="c.key" *ngFor="let c of list_company">{{c.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label floating>date</ion-label>

    <ion-datetime displayFormat="YYYY:DD:MM HH:mm" pickerFormat="YYYY:DD:MM HH:mm" [(ngModel)]="expense.date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label floating>description</ion-label>
    <ion-input type="text" [(ngModel)]="expense.description"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>ncf</ion-label>
    <ion-input type="text" [(ngModel)]="expense.ncf"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>rnc</ion-label>
    <ion-input type="text" [(ngModel)]="expense.rnc"></ion-input>
  </ion-item>

  <ion-item (click)="delete()" *ngIf="isEditing">
    <ion-icon name="log-out" item-left></ion-icon>
    Eliminar
  </ion-item>

  <ion-item (click)="save()">
    <ion-icon name="log-out" item-left></ion-icon>
    Guardar
  </ion-item>


</ion-content>